   <div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">List of Categories </span>
		</div>

        <button type="button" class="btn btn-flat pull-right bg-olive" data-toggle="modal" data-target="#addCategoryModel">
          Add category
        </button>
        
        <div class="tablecontainer">

			<table my-tabs id="categoryTable" class="table table-bordered table-striped">
			<thead>
                      <tr>
                        <th>CategoryId</th>
                        <th>CategoryName</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        </tr>
                    </thead>
				<tbody>
					<tr ng-repeat="category in categories">
						<td><span ng-bind="category.categoryId"></span></td>
						<td><span ng-bind="category.categoryName"></span></td>
						<td><button class="btn btn-flat btn-sm btn-warning" ng-click="editCategoryModal('lg',category)"><i class="fa fa-edit "></i></button></td>
						<td><button class="btn btn-flat btn-sm btn-danger"><i class="fa fa-trash "></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	

			



<div class="modal fade" id="addCategoryModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="box-header with-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
      </div>
      <div class="modal-body">
           <!-- form start -->
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="catId" class="col-sm-3 control-label">Category Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="catId" placeholder="Category Name" ng-model="category.categoryName">
                      </div>
                    </div>
                    </div>
                    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-flat btn-primary" ng-click="addCategory()">Add</button>
      </div>
    </div>
  </div>
</div>


