
<div class="panel panel-default mainWrapper custompanel hidden-print">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<span class="lead">Goods Inward Note </span>
	</div>

<!-- <div ng-show="showError" class="alert alert-danger" role="alert">
				<Strong>{{errorMessage}}</Strong>
			</div>
			
			<div ng-show="showSuccess" class="alert alert-success" role="alert">
				<Strong>{{successMessage}}</Strong>
			</div> -->
			

		
<div class="filtercontainer">

	<div class="searchPanel">

		<form novalidate angular-validator name="ginDataForm"
			class="form-horizontal">
			<div class="">
				<label class="col-sm-3 control-label">GIN No</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" validate-on="dirty"
						name="ginNo" placeholder="GIN No" ng-model="ginNo"
						required-message="'GIN No is required'" required />
				</div>
			</div>
			<button type="submit" class="btn btn-flat btn-primary" name="search"
				ng-click="fetchGINData(ginNo,false)">
				<span data-ng-hide="loading"> Search </span> <span
					data-ng-show="loading"> Searching <i
					class="fa fa-spinner fa-spin"></i></span>
			</button>
			<button type="submit" class="btn btn-flat btn-primary"
				ng-click="fetchGINData(ginNo,true)">Get Print Format</button>
		</form>
		
	</div>
	<div class="createBtnPanel">
	<button type="button" class="btn btn-flat bg-olive pull-right" uib-tooltip="Create a new GIN"
			ng-click="createGINModal()">
			<i class="fa fa-plus"></i> Create GIN </button>
	</div>
	
	</div>

</div>
<div ng-show="showGINData"
	class="panel panel-default mainWrapper dataPanel">
	<div class="panel-heading">
		<span class="lead">{{ginData.gin.ginNo}} </span>
	</div>
	
	<div ng-show=user.isAdmin class="modal-footer">
		<button class="btn btn-flat btn-warning"
			ng-click="editGINModal(ginData)">
			<i class="fa fa-edit "></i> Edit
		</button>
		<button class="btn btn-flat btn-danger"
			ng-click="deleteGINModal(ginData)">
			<i class="fa fa-trash "></i> Delete
		</button>
	</div>

	<div class="tablecontainer">

		<h4>
			<span class="label label-default">Data</span>
		</h4>

		<table id="ginTable" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>GIN No</th>
					<th>From</th>
					<th>From Name</th>
					<th>Doc Ref No</th>
					<th>Doc Date</th>
					<th>Status</th>
					<th>GIN Date</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td><span ng-bind="ginData.gin.ginNo"></span></td>
					<td><span ng-bind="ginData.gin.from"></span></td>
					<td><span ng-bind="ginData.gin.fromName"></span></td>
					<td><span ng-bind="ginData.gin.docRefNo"></span></td>
					<td><span ng-bind="ginData.gin.docDate"></span></td>
					<td><span ng-bind="ginData.gin.status"></span></td>
					<td><span ng-bind="ginData.gin.ginDate"></span></td>

				</tr>
			</tbody>
		</table>
	</div>
	<div class="tablecontainer">

		<h4>
			<span class="label label-default">Products Info</span>
		</h4>

		<table id="ginTable" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Product Id</th>
					<th>Product Name</th>
					<th>Good In</th>
					<th>Def In</th>
					<th>Total Qty</th>
					<th>unit Basic Rate</th>
					<th>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="prodInfo in ginData.gin.prodInfoList">
					<td><span ng-bind="prodInfo.product.productId"></span></td>
					<td><span ng-bind="prodInfo.product.productName"></span></td>
					<td><span ng-bind="prodInfo.goodIn"></span></td>
					<td><span ng-bind="prodInfo.defIn"></span></td>
					<td><span ng-bind="prodInfo.totalQty"></span></td>
					<td><span ng-bind="prodInfo.unitBasicRate"></span></td>
					<td><span ng-bind="prodInfo.totalAmount"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div ng-show="showGINDetails" class="printFormatPanel">
	<table class="table table-bordered" style="margin-bottom: 2px">
			 <tr class="header" ng-include="'resources/templates/common/header.html'" >
		     </tr>
			<tr>
				<td colspan="2">
					<h3 class="text-center">
						<u>GOODS INWARD NOTE</u>
					</h3></td>
			</tr>
			<tr ng-include="'resources/templates/common/registrationDetails.html'">
				
			</tr>
			<tr>
				<td style="padding:0px;"><span><strong>FROM</strong><span>
				  <div class="fromAddress">
					<address>
						<strong>{{ginData.fromDetails.name}}</strong><br>
						{{ginData.fromDetails.contact.address.addressLine1}}
						{{ginData.fromDetails.contact.address.addressLine2}}<br>
						{{ginData.fromDetails.contact.address.city}}<br>
						{{ginData.fromDetails.contact.address.state}}-
						{{ginData.fromDetails.contact.address.pinCode}}
					</address>
					</div>
					</td>
				<td style="padding:0px;">
				<table class="table table-bordered halfbox" style="margin-bottom: 0px;border: 0px;">
						<tr>
							<td width="35%"><span>GIN NO</span></td>
							<td width="65%"><span>{{ginData.gin.ginNo}}</span></td>
						</tr>
						<tr>
							<td><span>GIN DATE</span></td>
							<td><span>{{ginData.gin.ginDate}}</span></td>
						</tr>
						<tr>
							<td><span>GIN DOC REF</span></td>
							<td><span>{{ginData.gin.docRefNo}}</span></td>
						</tr>
					</table></td>
			</tr>
			<tr>
				<td><span>{{ginData.gin.from}}</span></td>
				<td><span>Name : {{ginData.gin.fromName}}</span></td>
			</tr>
			<tr>
				<td><span>Contact No : </span><span>{{ginData.fromDetails.contact.phoneNo}}</span></td>
				<td><span>TIN : </span><span>{{ginData.fromDetails.tinNo}}</span> </td>
			</tr>
			<tr>
				<td><span>Mobile No : </span><span>{{ginData.fromDetails.contact.mobileNo}}</span></td>
				<td><span>CST No : </span><span>{{ginData.fromDetails.cstNo}}</span> </td>
			</tr>
			<tr>
				<td><span>Fax No : </span><span></span></td>
				<td><span>Email : </span></td>
			</tr>
			<tr>
				<td colspan="2" style="padding:0px;">
				<table class="table table-bordered" style="margin:0px;border:0px white;">
						<tr class="text-center">
							<td width="3%"><span>SNo</span></td>
							<td width="42%"><span>Description</span></td>
							<td width="7%"><span>Good In</span></td>
							<td width="7%"><span>Def In</span></td>
							<td width="7%"><span>Total Qty</span></td>
							<td width="7%"><span>Unit Of Measure</span></td>
							<td width="7%"><span>Unit Basic Rate</span></td>
							<td width="10%"><span>Total Amount</span></td>
						</tr>
						<tr ng-repeat="prodInfo in ginData.gin.prodInfoList">
							<td><span style="float:right;" ng-bind="$index+1"></span></td>
							<td><span ng-bind="prodInfo.product.productName"></span></td>
							<td><span style="float:right;" ng-bind="prodInfo.goodIn"></span></td>
							<td><span style="float:right;" ng-bind="prodInfo.defIn"></span></td>
							<td><span style="float:right;" ng-bind="prodInfo.totalQty"></span></td>
							<td><span ng-bind="prodInfo.product.unitOfMeasure"></span></td>
							<td><span style="float:right;" ng-bind="prodInfo.unitBasicRate"></span></td>
							<td><span style="float:right;" ng-bind="prodInfo.totalAmount"></span></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2"><span>VALUE : (FOR OCTROI PURPOSES)</span></td>
			</tr>
			<tr>
				<td colspan="2"><span>REMARKS ON MATERIAL RECEIVED :</span><span>&nbsp;{{ginData.gin.remarks}}</span><br><br></td>
			</tr>
			<tr ng-include="'resources/templates/common/footer.html'">
			</table>
	<span>NOTE: The above Transaction is not sale</span>

</div>


<!-- Create GIN overlay -->
<modal size="modal-lg" visible="showAddModal">
<form novalidate angular-validator
	angular-validator-submit="createGIN()" name="createGINForm"
	class="form-horizontal">
	<div class="modal-header with-border">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Create GIN</h4>
	</div>
	<div class="modal-body">
		<div class="box-body">
	<!-- 	<div ng-show="modalShowError" class="alert alert-danger" role="alert">
				<Strong>{{errorMessage}}</Strong>
			</div>
			
			<div ng-show="modalShowSuccess" class="alert alert-success" role="alert">
				<Strong>{{successMessage}}</Strong>
			</div> -->

		
			<div class="filtercontainer">
				<div class="form-left">
					<label class="col-sm-3 control-label">From</label>
					<div class="col-sm-8 selectContainer">
						<select class="form-control" " name="from" ng-model="gin.from"
							ng-change="populateFromData(gin.from)" validate-on="dirty"
							required-message="'From is required'" required>
							<option value="SUPPLIER">SUPPLIER</option>
							<option value="CUSTOMER">CUSTOMER</option>
							<option value="OTHERS">OTHERS</option>
						</select>
					</div>
				</div>

				<div class="form-left">
					<label class="col-sm-3 control-label">From Name</label>
					<div class="col-sm-8 selectContainer">
						<select class="form-control" name="fromName"
							ng-model="gin.fromName" validate-on="dirty"
							required-message="'From Name is required'" required>
							<option ng-selected="{{data.name == gin.fromName}}"
								ng-repeat="data in dataList" value="{{data.name}}">{{data.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="filtercontainer">
				<div class="form-left">
					<label class="col-sm-3 control-label">Doc Ref No</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" validate-on="dirty"
							name="docRefNo" placeholder="Doc Ref No" ng-model="gin.docRefNo"
							required-message="'Doc Ref No is required'" required />
					</div>
				</div>

				<div class="form-left">
					<label class="col-sm-3 control-label">Doc Date</label>
					<div class="col-sm-8"> 
						<input type="text"  class="form-control" ng-click="open($event)"
							validate-on="dirty" name="docDate" placeholder="Doc Date"
							ng-model="gin.docDateValue" required-message="'Doc Date is required'"
							uib-datepicker-popup="dd/MM/yyyy" is-open="status.opened" max-date="maxDate" close-text="Close"
							required readonly />
						</div>
				</div>

			</div>
			<div class="prodContainer">
				<span class="btn btn-danger  btn-flat btn-xs">Product Info</span>
				<fieldset data-ng-repeat="prodInfo in gin.prodInfoList">
					<div>
						<div class="filtercontainer">

							<div class="form-left width33">
								<label class="col-sm-3 control-label">Product Name</label>
								<div class="col-sm-8">
									<select class="form-control" name="productName{{$index}}"
										ng-model="prodInfo.product.productId" validate-on="dirty"
										required-message="'Product Name is required'" required>
										<option ng-repeat="product in productsInfo"
											value="{{product.id}}">{{product.name}}</option>
									</select>
								</div>
							</div>
	
							<div class="form-left width33">
								<label class="col-sm-4 control-label">Good In</label>
								<div class="col-sm-8">
									<input type="number" min="0" class="form-control"
										validate-on="dirty" name="goodIn{{$index}}" placeholder="Good In"
										ng-model="prodInfo.goodIn"
										invalid-message="'Good In should be a postive number'" />
								</div>
							</div>

							<div class="form-left width33">

								<label class="col-sm-4 control-label">Defective In</label>
								<div class="col-sm-8">
									<input type="number" min="0" class="form-control"
										validate-on="dirty" name="defectiveIn{{$index}}"
										placeholder="Defective In" ng-model="prodInfo.defIn"
										invalid-message="'Defective In should be a postive number'" />
								</div>
							</div>
						</div>
					</div>

				</fieldset>
				<div style="height: 34px;">
					<a class="btn btn-flat btn-danger pull-right"
						ng-click="removeChoice()">-</a> <a
						class="btn btn-flat bg-olive pull-right" ng-click="addNewChoice()">+</a>
				</div>
			</div>
			<div class="filtercontainer">

				<div class="form-group">
					<label class="col-sm-2 control-label">Remarks</label>
					<div class="col-sm-9">
						<textarea rows="3" class="form-control" validate-on="dirty"
							name="remarks" placeholder="Remarks" ng-model="gin.remarks"></textarea>
					</div>
				</div>
    
			</div>

		</div>
		</div>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-flat btn-default"
				data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-flat btn-primary">Create</button>
		</div>
</form>
</modal>


<!-- Edit GIN Overlay -->
<!-- <modal visible="showEditModal">
<form novalidate angular-validator
	angular-validator-submit="updateGIN()" name="updateGINForm"
	class="form-horizontal">
	<div class="modal-header with-border">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Edit GIN</h4>
	</div>
	<div class="modal-body">
		<div class="box-body">

			

			<div class="form-group">
				<label class="col-sm-3 control-label">From</label>
				<div class="col-sm-8 selectContainer">
					<select class="form-control" " name="from" ng-model="gin.from"
						ng-change="populateFromData(gin.from)" validate-on="dirty"
						required-message="'From is required'" required>
						<option value="SUPPLIER">SUPPLIER</option>
						<option value="CUSTOMER">CUSTOMER</option>
						<option value="OTHERS">OTHERS</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">From Name</label>
				<div class="col-sm-8 selectContainer">
					<select class="form-control" name="fromName"
						ng-model="gin.fromName" validate-on="dirty"
						required-message="'From Name is required'" required>
						<option ng-selected="{{data.name == gin.fromName}}"
							ng-repeat="data in dataList" value="{{data.name}}">{{data.name}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">Doc Ref No</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" validate-on="dirty"
						name="docRefNo" placeholder="Doc Ref No" ng-model="gin.docRefNo"
						required-message="'Doc Ref No is required'" required />
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">Doc Date</label>
				<div class="col-sm-8">
					<input jquery-date-picker class="form-control" validate-on="dirty"
						name="docDate" placeholder="Doc Date" ng-model="gin.docDate"
						required-message="'Doc Date is required'" required />

				</div>
			</div>


			<fieldset data-ng-repeat="prodInfo in prodInfoList">

				<div class="form-group">
					<label class="col-sm-3 control-label">Product Name</label>
					<div class="col-sm-8">
						<select class="form-control" name="productName"
							ng-model="prodInfo.product.productId" validate-on="dirty"
							required-message="'Product Name is required'" required>
							<option ng-repeat="product in productsInfo"
								value="{{product.id}}">{{product.name}}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Unit Basic Rate</label>
					<div class="col-sm-8">
						<input type="number" min="0" class="form-control"
							validate-on="dirty" name="unitBasicRate"
							placeholder="Unit Basic Rate" ng-model="prodInfo.unitBasicRate"
							invalid-message="'Unit Basic Rate should be a postive number'"
							required-message="'Unit Basic Rate is required'" required />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Good In</label>
					<div class="col-sm-8">
						<input type="number" min="0" class="form-control"
							validate-on="dirty" name="goodIn" placeholder="Good In"
							ng-model="prodInfo.goodIn"
							invalid-message="'Good In should be a postive number'" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Defective In</label>
					<div class="col-sm-8">
						<input type="number" min="0" class="form-control"
							validate-on="dirty" name="defectiveIn" placeholder="Defective In"
							ng-model="prodInfo.defIn"
							invalid-message="'Defective In should be a postive number'" />
					</div>
				</div>



				<button class="remove" ng-show="$last" ng-click="removeChoice()"></button>
			</fieldset>
			<button class="addfields" ng-click="addNewChoice()">Add
				fields</button>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-default"
			data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-flat btn-primary">Update</button>
	</div>
</form>
</modal>


Alert products Overlay
<modal size="modal-sm" visible="alertModal">
<div class="modal-header with-border">
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="myModalLabel">Alert</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal">
		<div class="box-body">
			<div class="form-group">
				<div class="col-sm-12 text-center">Only 10 Products are
					allowed</div>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-flat btn-default"
		data-dismiss="modal">OK</button>
</div>
</modal> -->
<!-- <modal size="modal-sm" visible="showDeleteModal">
<delete-modal-content type="category" value="category.categoryName" method="deleteCategory(category.categoryId)"></delete-modal-content>
</modal> -->



