
<div class="panel panel-default mainWrapper custompanel">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">Goods Returnable Challan </span>
		</div>

<div class="addbuttoncontainer"><button type="button" class="btn btn-flat bg-olive " ng-click="createGRCModal()">
  <i class="fa fa-plus"></i> Create GRC</button>
 </div>
        
		<div class="tablecontainer">
		<table my-tabs id="grcTable"
			class="table table-bordered table-striped">
			<thead>
                      <tr>
                        <th>GRC No</th>
                        <th>To</th>
                        <th>To Name</th>
                        <th>Doc Ref No</th>
                        <th>Doc Date</th>
                        <th>Product Name</th>
                        <th>Good Out</th>
                        <th>Def Out</th>
                        <th>Status</th>
                        <th>GRC Date</th>
					<th width="5%">Edit</th>
					<th width="5%">Delete</th>
                        </tr>
                    </thead>
				<tbody>
					<tr ng-repeat="grc in grcs">
						<td><span ng-bind="grc.grcNo"></span></td>
						<td><span ng-bind="grc.to"></span></td>
						<td><span ng-bind="grc.toName"></span></td>
						<td><span ng-bind="grc.docRefNo"></span></td>
						<td><span ng-bind="grc.docDate"></span></td>
						<td><span ng-bind="grc.product.productName"></span></td>
						<td><span ng-bind="grc.goodOut"></span></td>
						<td><span ng-bind="grc.defOut"></span></td>
						<td><span ng-bind="grc.status"></span></td>
						<td><span ng-bind="grc.grcDate"></span></td>
						<td><button class="btn btn-flat btn-sm btn-warning" ng-click="editGRCModal(grc)"><i class="fa fa-edit "></i></button></td>
						<td><button class="btn btn-flat btn-sm btn-danger" ng-click="deleteGRCModal(grc)"><i class="fa fa-trash "></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
</div>



<!-- Create GRC overlay -->
<modal size="modal-lg" visible="showAddModal">
<form novalidate angular-validator
	angular-validator-submit="createGRC()" name="createGRCForm"
	class="form-horizontal">
	<div class="modal-header with-border">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Create GRC</h4>
	</div>
	<div class="modal-body">
		<div class="box-body">
		<div class="filtercontainer">
			<div class="form-left">
				<label class="col-sm-3 control-label">To</label>
				<div class="col-sm-8 selectContainer">
					<select class="form-control" " name="to"
							ng-model="grc.to" 
							ng-change="populateFromData(grc.to)"
							validate-on="dirty"
							required-message="'To is required'" required>
							<option	value="SUPPLIER">SUPPLIER</option>
							<option	value="CUSTOMER">CUSTOMER</option>
							<option	value="OTHERS">OTHERS</option>
						</select>
				</div>
			</div>
			
			<div class="form-left">
				<label class="col-sm-3 control-label">To Name</label>
				<div class="col-sm-8 selectContainer">
						<select class="form-control" name="toName"
							ng-model="grc.toName" validate-on="dirty"
							required-message="'To Name is required'" required>
							<option	ng-selected="{{data.name == grc.ToName}}"
								    ng-repeat="data in dataList" value="{{data.name}}">{{data.name}}</option>
						</select>
				</div>
			</div>
			</div>
			<div class="filtercontainer">
			<div class="form-left">
				<label class="col-sm-3 control-label">Doc Ref No</label>
				<div class="col-sm-8">
					<input type="text" 
					    class="form-control" 
					    validate-on="dirty"
						name="docRefNo" 
						placeholder="Doc Ref No"
						ng-model="grc.docRefNo"
						required-message="'Doc Ref No is required'" required />
				</div>
			</div>
			
			<div class="form-left">
				<label class="col-sm-3 control-label">Doc Date</label>
				<div class="col-sm-8">
				<input type="date" ng-flat-datepicker datepicker-config="datepickerConfig"
						class="form-control" 
						validate-on="dirty"
						name="docDate" 
						placeholder="Doc Date"
						ng-model="grc.docDate"
						required-message="'Doc Date is required'" required />
			   
			</div>
			</div>
			
		</div>	
	<div class="prodContainer">
	<span class="btn btn-danger  btn-flat btn-xs">Product Info</span>
		<fieldset  data-ng-repeat="prodInfo in grc.prodInfoList">
	<div>	
	<div class="filtercontainer">		

			<div class="form-left">
				<label class="col-sm-3 control-label">Product Name</label>
				<div class="col-sm-8">
					<select class="form-control" name="productName"
							ng-model="prodInfo.product.productId" validate-on="dirty"
							required-message="'Product Name is required'" required>
							<option	ng-repeat="product in productsInfo" value="{{product.id}}">{{product.name}}</option>
						</select>
						</div>
			</div>
	
	<div class="form-left">
				<label class="col-sm-3 control-label">Unit Basic Rate</label>
				<div class="col-sm-8">
					<input type="number" min="0" 
					    class="form-control" 
					    validate-on="dirty"
						name="unitBasicRate" 
						placeholder="Unit Basic Rate"
						ng-model="prodInfo.unitBasicRate"
						invalid-message="'Unit Basic Rate should be a postive number'"
						required-message="'Unit Basic Rate is required'" required/>
				</div>
			</div>
			</div>
	<div class="filtercontainer">
	<div class="form-left">
				<label class="col-sm-3 control-label">Good Out</label>
				<div class="col-sm-8">
					<input type="number" min="0" 
					    class="form-control" 
					    validate-on="dirty"
						name="goodOut" 
						placeholder="Good Out"
						ng-model="prodInfo.goodOut"
						invalid-message="'Good Out should be a postive number'"
						/>
				</div>
			</div>
			
	<div class="form-left">

				<label class="col-sm-3 control-label">Defective Out</label>
				<div class="col-sm-8">
					<input type="number" min="0" 
					    class="form-control" 
					    validate-on="dirty"
						name="defectiveOut" 
						placeholder="Defective Out"
						ng-model="prodInfo.defOut"
						invalid-message="'Defective Out should be a postive number'"
						 />
				</div>
			</div>
	</div>
	</div>
      
   </fieldset>
   <div style="height: 34px;">
   		<a class="btn btn-flat btn-danger pull-right"  ng-click="removeChoice()">-</a>
  		<a class="btn btn-flat bg-olive pull-right"  ng-click="addNewChoice()">+</a>
   </div>
   </div>
		<div class="filtercontainer">
			
		     <div class="form-group">
				<label class="col-sm-2 control-label">Remarks</label>
				<div class="col-sm-9">
					<textarea rows="3"
					    class="form-control" 
					    validate-on="dirty"
						name="remarks" 
						placeholder="Remarks"
						ng-model="grc.remarks"
						></textarea>
				</div>
			</div>
			
		</div>
		
	</div>	
	<div class="modal-footer">
		<button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
		<button type="submit" class="btn btn-flat btn-primary">Create</button>
	</div>
</form>
</modal>


