
  <div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">List of Products </span>
		</div>
		<div class="tablecontainer">

			<table my-tabs class="table table-bordered table-striped">
			<thead>
                      <tr>
                        <th>ProductId</th>
                        <th>ProductName</th>
                        <th>CategoryName</th>
                        <th>UnitOfMeasure</th>
                        <th>UnitBasicRate</th>
                        <th>Stock</th>
                        </tr>
                    </thead>
				<tbody>
					<tr ng-repeat="product in products">
						<td><span ng-bind="product.productId"></span></td>
						<td><span ng-bind="product.productName"></span></td>
						<td><span ng-bind="product.category.categoryName"></span></td>
						<td><span ng-bind="product.unitOfMeasure"></span></td>
						<td><span ng-bind="product.unitBasicRate"></span></td>
						<td><span ng-bind="product.stock"></span></td>

					</tr>

				</tbody>
			</table>
		</div>
	</div>