
/*body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

#1F2533

.custom-width {
    width: 80px !important;
}*/

body {
	font-size: 13px;
	font-family: Roboto;
	background-color:rgba(237,237,237,.5)
	
}

body .content-wrapper {
	margin-left: 0;
}
body .tablecontainer {
	margin: 0px 20px 0px;
	background-color: #FFF;
}
body #categoryTable_wrapper {
	width: 960px;
	margin: 0 auto;
}
.tablecontainer{
	margin-right: 180px;
	margin-bottom: 20px;
}


.navbar-nav>li:hover{
	background-color: #337AB7;
}

.navbar-nav>li>a{
	font-size: 14px;
	font-family: Roboto;
}

.custompanel {
	
	width: 1208px;
   margin: -2px auto;
  }

.addbuttoncontainer {
    height: 74px;
    width: 100%;
    align-content: center;
    padding: 20px;
}

.addbuttoncontainer>button {
    float:right;
}
    
}

/* .modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
} */

/* [ui-view].ng-leave {
  animation: fadeOut 0.5s;
}

[ui-view].ng-enter {
  animation: fadeIn 0.5s;
} */

.animated-view.well{
 height: 65px;
}

.ui-view-container {
  position: relative;
}

.ng-enter, .ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s;
	-moz-transition:all .5s ;
	-o-transition:all .5s;
	transition:all .5s;
}

.ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(1.05, 1.05, 1.05);
  -moz-transform:scale3d(1.05, 1.05, 1.05);
  transform:scale3d(1.05, 1.05, 1.05);
}

.ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

.ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/
  -webkit-transform:translate3d(0, 0, 12);
  -moz-transform:translate3d(0, 0, 12);
  transform:translate3d(0, 0, 12);
}

.ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}


input.ng-valid {
  border: 1px solid green;
}

select.ng-valid {
  border: 1px solid green;
}

.margin-bottom {
    margin-bottom:15px;
}

.formsplit{
	width:50%;
	float:left;
}
